<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <p>¿Quieres recuperar tu clave de acceso?</p>
  </div>
  <div class="ion-text-center-two">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item class="input-field-two">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item class="input-field-two" *ngIf="showNewPasswordInput">
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button expand="full" shape="round" (click)="resetPassword()">
      {{ showNewPasswordInput ? 'Cambiar Contraseña' : 'Restablecer Contraseña' }}
    </ion-button>
  </div>
</ion-content>
