/* Estilo para el contenido centrado verticalmente */
.ion-text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Ajusta la altura al 100% de la ventana para centrar verticalmente */
}