<ion-header>
  <ion-toolbar color = "dark">
    <ion-title>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="logo"></ion-img>
      Bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center"> <!-- Añadimos la clase ion-text-center para centrar el contenido -->
  <div class="ion-text-center"> <!-- Centramos el contenido verticalmente -->
    <h2>Elija su operación</h2>
    <ion-button expand="full" color="primary">Iniciar sesión</ion-button>
    <ion-button expand="full" color="secondary">Recuperar clave</ion-button>
  </div ngIf="showLoginForm">
  
  <ion-card *ngIf="showLoginForm">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo electrónico/usuario</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="login()">Iniciar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>