<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="logo"></ion-img>
      Bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "ion-text-center">
    <h2>Elija Su Operación:</h2>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item class="input-field">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
  
        <ion-item class="input-field">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>    
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" shape="round" color="secondary" class="login-button" (click)="login()">
    Iniciar Sesión
  </ion-button>
  <ion-button expand="full" shape="round" class="login-button-two">
    Recuperar clave
  </ion-button>
</ion-footer>